@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #feefea;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  margin: 20px auto;
  font-weight: 600;
  width: 900px;
  height: 45px;
  background-color: #feefea;
  border-bottom: 0.5px solid #ffbda7;
}

.img-logo {
  position: relative;
  cursor: pointer;
  width: 50px;
}

.container {
  width: 900px;
  height: 1500px;
  margin: 50px auto;
}


.main {
  width: 500px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-cover {
  height: 250px;
  padding: 40px 0 0 40px;
  border-radius: 120px 120px 0 0;
  background-color: #ffbda7;
}

.image-container {
  border: 3px solid #ff7142;
  margin: 0;
  border-radius: 120px 120px 0 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.text {
  font-weight: 300;
  margin: 20px 0;
}

button {
  background:none;
  padding: 5px;
  border-color: #ff7142;
  font-weight: 600;
  color: #5d5d5d;
}


li {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.nav-bar-link {
  color: #5d5d5d;
  text-decoration: none;
  font-size: 12px;
}

.nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.title {
  font-size: 40px;
  font-weight: 600;
}