@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #feefea;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  margin: 20px auto;
  font-weight: 600;
  width: 900px;
  height: 45px;
  background-color: #feefea;
  border-bottom: 0.5px solid #ffbda7;
}

.img-logo {
  position: relative;
  cursor: pointer;
  width: 50px;
}

.container {
  width: 900px;
  height: 1500px;
  margin: 50px auto;
}

.main {
  width: 500px;
}

.main2 {
  margin-top: 40px;
  width: 350px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.image-cover {
  height: 250px;
  padding: 40px 0 0 40px;
  border-radius: 120px 120px 0 0;
  background-color: #ffbda7;
}

.image-container {
  border: 3px solid #ff7142;
  margin: 0;
  border-radius: 120px 120px 0 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.text {
  font-weight: 300;
  margin: 20px 0;
}

button {
  background: none;
  padding: 5px;
  border-color: #ff7142;
  font-weight: 600;
  color: #5d5d5d;
}

li {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.nav-bar-link {
  color: #5d5d5d;
  text-decoration: none;
  font-size: 12px;
}

.nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  font-size: 40px;
  font-weight: 600;
}
.title2 {
  font-size: 22px;
  font-weight: 600;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h5 {
  color: #ff4000;
  opacity: 0.2;
  font-size: 120px;
  font-weight: 700;
  padding: 40px 30px 150px 30px;
  background-color: #ffb8a1;
}

.main2 > p {
  width: 250px;
}

.drawing > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: -140px;
}

h6 {
  font-size: 30px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: #ff7a4e;
  margin: 10px;
  padding: 10px 35px;
  z-index: 999;
}

table {
  box-sizing: border-box;
}
td {
  letter-spacing: 2px;
  width: 250px;
  height: 250px;
  background-color: #faa081;
  padding: 1.2rem 20px 0.9rem 20px;
}
th {
  letter-spacing: 2px;
  width: 250px;
  height: 250px;
  background-color: #ffc2ae;
  padding: 1.2rem 20px 0.9rem 20px;
}
a {
  font-size: 35px;
  font-weight: 300;
  color: #ff4000;
  text-decoration:none;
  font-weight: 500;
}
.project {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  padding: 50px auto;
  background: rgb(255, 191, 170);
  background: linear-gradient(
    135deg,
    rgba(255, 211, 196, 0.8) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.main3 {
  text-align: center;
  align-items: center;
}
.table {
  margin: 20px auto;
}
.mt {
  transform: translateY(-60px);
}
